.mensagem-sucesso{
    display:none;
    background-color:green;
    color:white;
    padding:10px;
    text-align:center;
    margin:0 auto;
    margin-top:30px;
}
.mensagem-erro{
    display:none;
    background-color:rgb(173, 0, 0);
    color:white;
    padding:10px;
    text-align:center;
    margin:0 auto;
    margin-top:30px;
}